include LICENSE README.md README_ja.md CHANGELOG.md
recursive-include src/staqtapp_tds *.py *.c *.html *.css *.js *.svg *.json
recursive-include examples *.py

prune .github
prune benchmarks
prune docs
prune media
prune scripts
prune tds_api_docs
prune tests
prune tools

global-exclude __pycache__ *.py[cod]
